body{
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}
#addBtn{
    border-radius: 7px;
    font-size: 20px;
}
#title{
    font-size: 30px;
}
#quoteHeading:hover{
    font-size: 2.7rem;
}
.iconbtn{
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.iconbtn:focus {
    border: none;
}